<div class="col-md-12">
<div class="group">
    <%= link_to("新增老師", new_teacher_path , :class => "btn btn-primary pull-right" ) %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>編號</td>
        <td>中文名字</td>
        <td>職位</td>
        <td>領域</td>
      </tr>
    </thead>
    <tbody>
      <% @teachers.each do |teacher| %>
        <tr>
        
          <td><%= link_to(teacher.id, teacher_path(teacher)) %></td>
          <td><%= teacher.name_c %></td>
          <td><%= teacher.title_c %></td>
          <td><%= teacher.domain_c %></td>
          <td>
            <%= link_to("Edit", edit_teacher_path(teacher), class: "btn btn-sm btn-default")%>
            <%= link_to("Delete", teacher_path(teacher), class: "btn btn-sm btn-default", method: :delete, data: { confirm: "Are you sure?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>