
<div class="col-md-12">
<div class="group">
  <a><%= link_to('新增檔案連結', new_download_path, class:'btn btn-primary pull-right')%></a>
</div>

    <ul id="postsTab" class="nav nav-tabs">
       <li class="active">
          <a href="#enrollment" data-toggle="tab">招生簡章</a>
       </li>
       <li><a href="#newspaper" data-toggle="tab">資管所通訊</a></li>
       <li><a href="#examination" data-toggle="tab">歷屆考題</a></li>
       <li><a href="#domestic" data-toggle="tab">常用表單</a></li>
       <li><a href="#fiveyear" data-toggle="tab">一貫修讀學、碩士學位</a></li>


    </ul>
    <div class="tab-content">
       <div class="tab-pane fade in active" id="enrollment">
       <table id="enrollmentTable" class="table table-hover">
            <thead>
              <tr>
                <td>標題</td>
                <td>檔案管理連結</td>
                <td>建立時間</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            <% @downloads_enrollment.each do |d| %>
                <tr>
                  <td><%= d.title %></td>
                  <td><a href="<%= d.link %>" target="_blank"><%= d.link %></a></td>
                  <td><%= d.created_at.strftime("%Y/%m/%d") %></td>
                  <td>
                    <%= link_to("編輯",edit_download_path(d), class: "btn btn-sm btn-default")%>
                    <%= link_to("刪除", download_path(d), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } )%>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
       <div class="tab-pane fade" id="newspaper">
       <table id="newspaperTable" class="table table-hover">
            <thead>
              <tr>
                <td>標題</td>
                <td>檔案管理連結</td>
                <td>建立時間</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% @downloads_newspaper.each do |d| %>
                <tr>
                  <td><%= d.title %></td>
                  <td><a href="<%= d.link %>" target="_blank"><%= d.link %></a></td>
                  <td><%= d.created_at.strftime("%Y/%m/%d") %></td>
                  <td>
                    <%= link_to("編輯",edit_download_path(d), class: "btn btn-sm btn-default")%>
                    <%= link_to("刪除", download_path(d), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } )%>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="examination">
       <table id="examinationTable" class="table table-hover">
            <thead>
              <tr>
                <td>標題</td>
                <td>檔案管理連結</td>
                <td>建立時間</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% @downloads_examination.each do |d| %>
                <tr>
                  <td><%= d.title %></td>
                  <td><a href="<%= d.link %>" target="_blank"><%= d.link %></a></td>
                  <td><%= d.created_at.strftime("%Y/%m/%d") %></td>
                  <td>
                    <%= link_to("編輯",edit_download_path(d), class: "btn btn-sm btn-default")%>
                    <%= link_to("刪除", download_path(d), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } )%>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
       <div class="tab-pane fade" id="domestic">
       <table id="domesticTable" class="table table-hover">
            <thead>
              <tr>
                <td>標題</td>
                <td>檔案管理連結</td>
                <td>建立時間</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <% @downloads_domestic.each do |d| %>
                <tr>
                  <td><%= d.title %></td>
                  <td><a href="<%= d.link %>" target="_blank"><%= d.link %></a></td>
                  <td><%= d.created_at.strftime("%Y/%m/%d") %></td>
                  <td>
                    <%= link_to("編輯",edit_download_path(d), class: "btn btn-sm btn-default")%>
                    <%= link_to("刪除", download_path(d), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } )%>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
      <div class="tab-pane fade in active" id="fiveyear">
       <table id="fiveyearTable" class="table table-hover">
            <thead>
              <tr>
                <td>標題</td>
                <td>檔案管理連結</td>
                <td>建立時間</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            <% @downloads_fiveyear.each do |d| %>
                <tr>
                  <td><%= d.title %></td>
                  <td><a href="<%= d.link %>" target="_blank"><%= d.link %></a></td>
                  <td><%= d.created_at.strftime("%Y/%m/%d") %></td>
                  <td>
                    <%= link_to("編輯",edit_download_path(d), class: "btn btn-sm btn-default")%>
                    <%= link_to("刪除", download_path(d), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } )%>
                  </td>
                </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>

<%= javascript_include_tag 'event/index', 'data-turbolinks-track' => true %>
