
<div class="col-md-12">
<div class="group">
  <a><%= link_to('新增活動', new_event_path, class:'btn btn-primary pull-right')%></a>
</div>

    <ul id="postsTab" class="nav nav-tabs">
       <li class="active">
          <a href="#domestic" data-toggle="tab">所上活動</a>
       </li>
       <li><a href="#lecture" data-toggle="tab">專題演講</a></li>

    </ul>
    <div id="domesticTabContent" class="tab-content">
       <div class="tab-pane fade in active" id="domestic">
       <table id="domesticTable" class="table table-hover">
            <thead>
              <tr>
                <td>標題</td>
                <td>活動起始時間</td>
                <td>活動結束時間</td>
                <td>建立時間</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            <% @events_domestic.each do |e|%>
              <tr>
                <td> <%= link_to(e.title, event_path(e))%></td>
                <td><%= e.start_time.strftime("%Y/%m/%d %H:%M")%></td>
                <td><%= e.end_time.strftime("%Y/%m/%d %H:%M")%></td>
                <td><%= e.created_at.strftime("%Y/%m/%d") %></td>
                <td>
                    <%= link_to("編輯",edit_event_path(e), class: "btn btn-sm btn-default")%>
                    <%= link_to("刪除", event_path(e), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } )%>

                </td>
              </tr>
              <% end %>
            </tbody>
        </table>
      </div>
       <div class="tab-pane fade" id="lecture">
       <table id="lectureTable" class="table table-hover">
            <thead>
              <tr>
                <td>標題</td>
                <td>活動起始時間</td>
                <td>活動結束時間</td>
                <td>建立時間</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
            <% @events_lecture.each do |e|%>
              <tr>
                <td> <%= link_to(e.title, event_path(e))%></td>
                <td><%= e.start_time.strftime("%Y/%m/%d %H:%M")%></td>
                <td><%= e.end_time.strftime("%Y/%m/%d %H:%M")%></td>
                <td><%= e.created_at.strftime("%Y/%m/%d") %></td>
                <td>
                    <%= link_to("編輯",edit_event_path(e), class: "btn btn-sm btn-default")%>
                    <%= link_to("刪除", event_path(e), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } )%>

                </td>
              </tr>
              <% end %>
            </tbody>
        </table>
      </div>
    </div>
  </div>

<%= javascript_include_tag 'event/index', 'data-turbolinks-track' => true %>
