<div class="col-md-8 col-md-offset-2">
  <h2>更新老師</h2>

  <hr>
  <%= form_for @teacher, :url => teacher_path(@teacher),:method => :patch do |f| %>
    <div class="form-group">
      <%= f.label :name_c, "中文姓名" %>
      <%= f.text_field :name_c , class:"form-control", required:true %>
      <%= f.label :name_e, "英文姓名" %>
      <%= f.text_field :name_e , class:"form-control", required:true%>
      <%= f.label :office_c, "辦公室（中文）" %>
      <%= f.text_field :office_c , class:"form-control", required:true %>
      <%= f.label :office_e, "辦公室（英文）" %>
      <%= f.text_field :office_e , class:"form-control", required:true%>
      <%= f.label :domain_c, "專長領域（中文）" %>
      <%= f.text_area :domain_c , class:"form-control", required:true %>
      <%= f.label :domain_e, "專長領域（英文）" %>
      <%= f.text_area :domain_e , class:"form-control", required:true%>
      <%= f.label :degree_c, "學歷（中文）" %>
      <%= f.text_field :degree_c , class:"form-control", required:true , :placeholder => "哈佛資訊管理博士"%>
      <%= f.label :degree_e, "學歷（英文）" %>
      <%= f.text_field :degree_e , class:"form-control", required:true, :placeholder => "Ph.d in Harvard Information Management" %>
      <%= f.label :title_priority, "職稱" %>
      <%= f.select "title_priority", options_for_select([['教授', 0], ['副教授', 1],['助理教授',2],['助教',3]],@teacher.title_priority), {:include_blank=>'請選擇'}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
      <%= f.label :is_chair, "任職所長" %>
      <%= f.select "is_chair", options_for_select([['是', true], ['否', false]],@teacher.is_chair), {:include_blank=>'請選擇'}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
      <%= f.label "Email" %>
      <%= f.email_field :email ,class:"form-control" %>
      <%= f.label :tel, "電話" %>
      <%= f.text_field :tel , class:"form-control", required:true , :placeholder => "02-8994-1111"%>
      <%= f.label :extension, "分機" %>
      <%= f.text_field :extension , class:"form-control", required:true , :placeholder => "66894"%>
      <%= f.label :image_url, "照片連結" %>
      <%= f.text_field :image_url , class:"form-control", required:true , :placeholder => "http://xxxx.xxx.jpg"%>
      <%= f.label :employ_type, "聘任狀態" %>
      <%= f.select "employ_type", options_for_select([['專任教師', 0], ['兼任教師', 1],['行政人員',2],['他系教師',3],['客座教授',4]],@teacher.employ_type), {:include_blank=>'請選擇'}, {required: 'true', autofocus: 'true', class: 'form-control'} %>

    </div>
    <a><%= f.submit "更新" ,class:"btn btn-primary pull-right" %></a>
  <% end %>
</div>
