<!DOCTYPE html>
<html>
<head>
  <title>MIS BE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'lib/jquery.dataTables', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'lib/dataTables.bootstrap', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <%= render "common/navbar" %>
  <%= notice_message %>
  <%= yield %>
</div>
  <%= render "common/footer" %>


</body>
</html>
