<!DOCTYPE html>
<html>
<head>
  <title>MIS BE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'lib/jquery.dataTables', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'lib/bootstrap-datepicker/bootstrap-datepicker', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'lib/bootstrap-datepicker/locales/bootstrap-datepicker.zh-TW.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'main', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
  <%= render "common/navbar" %>
  <%= notice_message %>
  <%= yield %>
</div>
  <%= render "common/footer" %>
 <div id="loading" style="display:none">
      <div class="shadow"></div>
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
      <div class="loading-text"></div>
  </div>

</body>
</html>
